<div class="login-container">
  <mat-card class="login-form-container">
    <h3> Login </h3>
    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="username.value === '' || password.value === ''" (click)="loginUser()">
        <ng-container *ngIf="!pending">
          Sign In
        </ng-container>
        <div class="white-spinner">
          <mat-spinner *ngIf="pending" [diameter]="30"></mat-spinner>
        </div>
      </button>
    </form>
    <div class="signup-container">
      <p> New User?</p>
      <button mat-raised-button color="primary" (click)="goTo('/signup')"> Sign Up</button>
    </div>
  </mat-card>
</div>
